/* ===-----===---=======----- */
/* CONTAINER */
.container{
    max-width: 1000px;
    width: 100%;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

.container.container-small{
    max-width: 600px;
}

